<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static "index.css" %}">
    {% block staticFiles %}
    
    {% endblock %}
</head>
<body>
<div id="main-content">
    <div id="menu">
        <div>
            some denjfkaef
        </div>
        {% if authenticated %}
            <a href="http://127.0.0.1:8000/auth?exit=1" class="button">exit</a>
        {% else %}
            {% include 'Register.html' %}
        {% endif %}
        <a href="/personalpage/10">personal</a>
    </div>
    <div id="content">
        {% block content %}
            Some index content
{#            5148730 id моего vk приложения #}

        {% endblock %}
    </div>
</div>
</body>
</html>