<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static "index.css" %}">
    {% block staticFiles %}
    
    {% endblock %}
</head>
<body>
<div id="mainContent">
    <div id="menu">{% include 'GuestForm.html' %}</div>
    <div >{% include 'Register.html' %}</div>
    <div id="content">
        {% block content %}
            Some index content
{#            5148730#}
            <a href="https://oauth.vk.com/authorize?client_id=5148730&display=page&redirect_uri=http://127.0.0.1:8000/auth">register</a><br>
            {{ code }}
        {% endblock %}
    </div>
</div>
</body>
</html>